<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>989576766873-gvjj8qannolel1ajdl6a1klmvh7vovhg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.989576766873-gvjj8qannolel1ajdl6a1klmvh7vovhg</string>
	<key>API_KEY</key>
	<string>AIzaSyAQJb3Ocj4Kb-uLDz_SVqI3MFbxlGc5gMg</string>
	<key>GCM_SENDER_ID</key>
	<string>989576766873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kfvz-firebase2</string>
	<key>PROJECT_ID</key>
	<string>mydata-ba2fa</string>
	<key>STORAGE_BUCKET</key>
	<string>mydata-ba2fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989576766873:ios:94367b27492c82a0</string>
	<key>DATABASE_URL</key>
	<string>https://mydata-ba2fa.firebaseio.com</string>
</dict>
</plist>